.sidebar{

width:260px;

min-height:100vh;

background:linear-gradient(180deg,#0f172a,#1e293b);

padding:30px 20px;

color:white;

display:flex;

flex-direction:column;

justify-content:space-between;

box-shadow:5px 0 25px rgba(0,0,0,.18);

}

.logo{

margin-bottom:40px;

}

.logo h2{

margin:0;

font-size:28px;

}

.logo p{

margin-top:8px;

color:#94a3b8;

font-size:14px;

}

.sidebar ul{

list-style:none;

padding:0;

margin:0;

}

.sidebar li{

display:flex;

align-items:center;

gap:15px;

padding:15px;

margin-bottom:10px;

border-radius:12px;

cursor:pointer;

transition:.3s;

font-size:16px;

color:#cbd5e1;

}

.sidebar li svg{

font-size:18px;

}

.sidebar li:hover{

background:#2563eb;

color:white;

transform:translateX(8px);

}

.sidebar li.active{

background:#2563eb;

color:white;

box-shadow:0 8px 20px rgba(37,99,235,.35);

}

.logout{

display:flex;

align-items:center;

gap:12px;

padding:15px;

border-radius:12px;

cursor:pointer;

background:#ef4444;

justify-content:center;

font-weight:600;

transition:.3s;

}

.logout:hover{

background:#dc2626;

}